:root {
    --transparent: #0000;
}
._3hx- ._1i6a{
    background: #fff !important;
    /* background: url("https://i.imgur.com/u558Rbj.jpg") !important; */
    background-size: cover !important;
}

._4tdt._ua0 ._1aa6 {
    background: rgb(0, 132, 255) !important;
    border-radius: 6px !important;
}
._3hx- ._1aa6._31xy {
    background: var(--transparent) !important;

}
._4tdt._ua1 ._5w1r._3_om._5wdf{
    border-radius: 6px !important;
    background: #f7f7f7;
}
._3hx- ._5w1r._31xx {
    background: var(--transparent) !important;
}

._3hx- ._llj {
    background: var(--transparent) !important;
    border: 12px solid var(--transparent) !important
}

._3hx- ._6vu5 ._5w-5 {
    border-color: var(--transparent) !important
}

._3hx- ._5w-5 {
    background: var(--transparent) !important
}

._4tdt {
    border-color: var(--transparent) !important
}

._3hx- ._40qi,
._3hx- ._ua1,
._3hx- ._40fu {
    background: var(--transparent) !important
}

._3hx- ._1aa6:after {
    border: 30px solid var(--transparent) !important
}

._3hx- ._5wd4 {
    border-bottom: 1px solid var(--transparent) !important
}

._3hx- ._1nc7:not(:last-of-type) ._5z-5,
._3hx- ._1nc6:not(:last-of-type) ._5z-5,
._3hx- ._3erg:not(:last-of-type) ._5z-5 {
    border-bottom: 18px solid var(--transparent) !important
}

._3hx- ._16ys._3e7u {
    border-top: 1px solid var(--transparent) !important
}

._3hx- ._1a6y {
    background: var(--transparent) !important
}

._3hx- ._5w0o {
    background: var(--transparent) !important;
    border-bottom: 8px solid var(--transparent) !important;
    border-top: 8px solid var(--transparent) !important
}

#facebook ._3hx- ._1i6a ._2kwv {
    background: var(--transparent) !important
}

._4gd0 {
    background: var(--transparent) !important
}

._3hx- ._6vu5 ._31o4 {
    border-right: 6px solid var(--transparent) !important
}

._3hx- ._31o4 {
    background: var(--transparent) !important;
    border-right: 10px solid var(--transparent) !important
}

._3hx- ._4tdt ._4tdx {
    background: var(--transparent) !important;
    border-bottom: 1px solid var(--transparent) !important;
    border-left: 10px solid var(--transparent) !important
}

._3hx- ._2cnu:only-of-type ._5wdf {
    border-bottom: 2px solid var(--transparent) !important;
    border-top: 2px solid var(--transparent) !important
}

._2-fm {
    background: #201c29 !important
}

._3hx- ._5z-5 {
    border-bottom: 10px solid var(--transparent) !important
}

._aou {
    background: var(--transparent) !important;
}

._4kf5 {
    background: var(--transparent) !important
}

._3hx- ._1nc6 ._1aa6._31xy {
    background: var(--transparent) !important
}


._3hx- ._1xdl,
._4poa ._4po6 {
    background: var(--transparent) !important
}

._3lk2 ._52kr {
    background-color: var(--transparent) !important
}

._3hx- ._3_bp {
    background: var(--transparent) !important
}

._1sk5{
    display: none
}

._3hx- ._3cpq {
    background-color: var(--transparent) !important;
}
